.dialog-form{
  width: 800px;
  height: 475px;  
  border: 1px solid  var(--transparent-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.dialog-form::backdrop{
  backdrop-filter: blur(5px);
  background-color: transparent;
}
.dialog-form__bar{  
  width: 100%;
  height: 75px;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--logo-color);  
}
.dialog-form__bar>h1{
  font-family: 'afacad', 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: white;
}
.dialog-form__bar>img{
  height: 20px;
  cursor: pointer;
}
.dialog-form__container{
  width: 100%;
  height: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dialog-form__container>:is(textarea, input){
  font-family: 'afacad';
  outline: none;
}
.dialog-form__container>input[type="text"]{
  height: 50px;
  font-size: 2rem;
  border: none;
  border-bottom: 1px solid var(--transparent-color);  
}
.dialog-form__container>textarea{
  flex: 1;
  margin-top: 25px;  
  border: none;
  font-size: 1.5rem;
  resize: none;
}
.dialog-form__container-buttons{
  width: 100%;  
  padding: 35px;
  padding-top: 0;
  display: flex;
  column-gap: 64px;
}
.dialog-form input[type="date"]{  
  width: 200px;
  height: 35px;  
  padding: 0 8px;
  border: 1px solid var(--transparent-color);
  outline: none;
  border-radius: 5px;
  font-family: 'afacad', 'Courier New', Courier, monospace;
  font-size: 1rem;
  position: relative;  
}
.dialog-form label{  
  height: 25px;
  padding: 0 8px;
  font-family: 'afacad', 'Courier New', Courier, monospace;
  font-size: 1rem;  
}
.dialog-form__date-container, 
.dialog-form__priority-container{
  display: flex;
  flex-direction: column;
}
.priority-container__buttons{
  height: 35px;
  display: flex;  
  column-gap: 16px;
}
.dialog-form__low, .dialog-form__high{
  width: 100px;
  height: 35px;  
  font-family: 'afacad', 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--transparent-color);
  background-color: transparent;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.dialog-form__low:hover,
.dialog-form__low.select{
  border-color: green;
}
.dialog-form__high:hover, 
.dialog-form__high.select{
  border-color: red;
}
.dialog-form__button{
  height: 35px;
  width: 150px;
  font-family: 'afacad', 'Courier New', Courier, monospace;
  font-size: 1.25rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--logo-color);
  color: white;
  position: absolute;
  right: 35px;
  bottom: 35px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.dialog-form__button:hover{
  background-color: transparent;
  color: var(--logo-color);
  border: 1px solid var(--logo-color);
}
:is(#titleTask.error, #descriptionTask.error)::placeholder{  
  font-size: 1.25rem;
  color: red;  
}